/** magic test case style sheet **/

body {
	background-color: #41413F;
}

.menubg{
  background: black;
  color: white;
  padding: 0;
}

.maincontent{
  background-color: white;
  min-height: 600px;
  padding: 0 30px 50px 30px;
}

.error {
	color: red;
}

h3 {
	font-size: 1.3em;
}